body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffdbe6;
    color:#a42153;
    width: 100vw;
    height:100vh;
}
nav {
    background-color:#a94064;
    padding: 10px;
    position: sticky; /* Sticks the navbar to the top when scrolling */
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures the nav bar stays above other content */
}

nav ul {
    list-style: none;
    display: flex; /* Makes the list items align in a row */
    justify-content: left; /* Centers the nav items horizontally */
}

nav ul li {
    margin: 0 30px; /* Adds space between the nav items */
}

nav ul li a {
    color: palevioletred;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color:lightpink;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.profileInfo {
    max-width: 600px;
    text-align: left;
    margin-right: 20px;
}

.profileInfo h1 {
    font-family: snell roundhand, cursive;
    font-size: 100px;
    margin: 0;
}

.profileInfo h1:hover {
    color:#f88379;
}

.profileInfo h2 {
    font-size: 40px;
    margin: 0 0 10px;
}

.profileInfo p {
    font-size: 18px;
}

/* Adjust the image size and positioning */
.profilePhoto {
    max-width: 700px;
    width: 100%;
    height: auto;
    margin-left: 20px;
    border-radius: 10px; /* Optional: Adds a rounded border to the image */
}

.hobbies.html {
    
    background-color: #ffdbe6;
}